@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Poppins:wght@400;700&family=Jakarta+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-family: 'Abhaya Libre', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Jakarta Sans', sans-serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}